{% extends 'base.html' %}{% load static %}

{% block content %}
    <div class="container">
        <div class="row pt-lg-4">
            <div class="col-12">
                <h1 class="display-3 m-0">Projects</h1>
                <p>Hey, on this page you will find all of my projects.</p>
                <hr class="mt-0">
            </div>
        </div>


        <div class="row">
            {% for project in projects %}
                <div class="col-lg-4">
                    <div class="card border-0 project-card">
                        <div class="card-header p-0 bg-white">
                            <img class="d-block w-100 p-0" src="{{project.image.url}}">
                        </div>
                        <div class="card-body pt-0">
                            <h3 class="display-6 m-0">{{project.title}}</h3>
                            <p>{{project.description|truncatewords:25}}</p>
                            <div class="text-right">
                                <a href="{{project.get_project_absolute_url}}" class="btn rounded-pill text-capitalize">See More <i class="fas fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}