:root {
    --color: #d1d8e0;
    --scolor: #17D778;
    --bg-color: #1A181E;
    --secondary: #2c303a;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Maven Pro', sans-serif !important;
    scroll-behavior: smooth;
    background-color: var(--secondary);
}
.scolor {
    color: var(--scolor);
}

.dash_sidebar {
    background-color: var(--secondary) ;
}
.dash_sidebar .sidebar-heading {
    color: #17D778 !important;
}
.sidebar-divider {
    border-top: #d1d8e0b1 solid 1px;
}
.dash_sidebar .dash-icon {
    color: var(--scolor) ;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 550;
}
.dash_sidebar a {
    color: #d1d8e0de;
    transition: color .5s;
    padding: 15px;
    margin: 10px;
    font-size: 14px;
}
@media (max-width: 768px) {
    .dash_sidebar li {
        text-align: center;
    }
    .dash_sidebar a {
        font-size: 11px;
        padding: 0px;
        margin: 0px;
    }
    .dash_sidebar a i {
        width: 100%;
    }
}

.dash_sidebar a:hover {
    color: var(--scolor) ;
}
.link-active {
    color: var(--scolor) !important;
}

.dash-navbar .message-icon{
    color: var(--secondary);
    transition: color .5s;
}
.dash-navbar .message-icon:hover{
    color: var(--scolor);
}
.dash-navbar .massage-header {
    background-color: var(--scolor);
    color: #fff;
    padding: 15px;
}
.dash-navbar .user-dropdown {
    color: var(--secondary);
    transition: color .3s;
}
.dash-navbar .user-dropdown:hover {
    color: var(--scolor);
}
.dash-navbar .user-logout{
    color: #e74a3b;
    transition: color .3s;
}

.inbox {
    font-size: 35px;
    color: #2c303ab9;
}
.search input {
    border-radius: 8px;
}
.search .search-btn {
    background-color:  #2c303ab9;
    color: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 45px;
    height: auto;
    text-align: center;
    font-size: 26px;
    padding-top: 4px;
    cursor: pointer;
    transition: all 0.5s;
}
.search .search-btn:hover {
    background-color: #17D778;
}
.hr-messages {
    margin: 4px;
    padding: 0;
}
.message-item {
    color: #485460bb;
    background-color: #efefef81;
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 15px;
    font-size: 15px;
    transition: all .5s;
}
.new-message {
    color: var(--bg-color);
    background-color: #dad8d8b2;
}
.message-item:hover {
    background-color: #dad8d8b2;
}
.message-item .message-icons{
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.message-item .message-icons .delete-message {
    text-align: center;
    width: 45px;
    cursor: pointer;
    transition: all .5s;
}
.message-item .message-icons .delete-message:hover {
    color: crimson;
    border-radius: 8px;
}
.message-item .sender {
    text-align: left;
    cursor: pointer;
}
.message-item .message {
    text-align: left;
    cursor: pointer;
}
.message-item .time {
    text-align: center;
    font-size: 13px;
}
.message-modal {
    margin-top: 200px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
}
.message-modal .modal-head {
    font-size: 20px;
    border-bottom: var(--scolor) solid 1px ;
    padding-left: 15px;
    padding-bottom: 5px;
}
.message-modal .modal-body {
    font-size: 14px;
    border: var(--scolor) soldi 2px !important;
    padding-left: 15px;
}
.message-modal .modal-body p {
    font-size: 14px;
    margin-top: 15px;
    color: #485460bb;
}

.footer {
    color: var(--secondary);
    background-color: transparent;
}
.footer p{
    margin: 0px;
    color: var(--secondary);
    font-size: 15px;
}
.footer .coder {
    font-size: 14px;
}
.footer a{
    color: var(--scolor);
    transition: all .5s;
}
.footer a:hover{
    color: var(--secondary);
}