{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center mt-6 mb-8">
		    <div class="col-lg-12 col-12 text-center mb-4">
                <p class="">Thanks for spending some quality time with the Web site today.</p>
            </div>
            <div class="col-lg-3 col-12 text-center mb-5">
                <a class="home-btn text-capitalize" href="{% url 'homePage' %}"><i class="fa fa-home"></i> Back to Home</a>
            </div>
            <div class="col-lg-3 col-12 text-center mb-4">
                <a class="home-btn text-capitalize" href="{% url 'dashboard:login' %}"><i class="fa fa-sign-in-alt"></i> Log in again</a>
            </div>
        </div>
    </div>

{% endblock %}
