{% extends 'base.html' %}{% load static %}

{% block content %}
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-6 text-center page-404">
                <p class="code">404</p>
                <p class="status">NOT FOUND</p>
                <p class="message">The page you are looking for has been lost in space.</p>
            </div>
            <div class="col-lg-6 text-center">
                <img src="{% static 'img/page-not-found.png' %}" width=100%>
            </div>
        </div>
    </div>
{% endblock content %}