<div class="row mt-5">
    <div class="col-lg-12 text-left">
        <h1 class="display-4 mb-0" id="competences">
            <i class="ni ni-atom"></i> 
            Competences
        </h1>
        <small class="">Programming Languages and Tools</small>
        <div class="row">
        {% for competence in competences %}
            <div class="col-lg-2 col-sm-6 justify-content-center mt-3">
                    <div class="competence-card text-center">
                        <div class="card-body" data-toggle="tooltip" data-placement="top" title="{{competence.description}}">
                            <img class="competence-img" alt="{{competence.title}} logo" src="{{competence.image.url}}">
                            <p class="font-weight-normal pt-2 mb-0">{{competence.title}}</p>
                        </div>
                    </div>
            </div>
        {% endfor %}
        </div>

    </div>
</div>