{% load static %}
<!--
<li class="nav-item">
    <a class="nav-link" href="/#education">
        {% comment %} <i class="fa fa-graduation-cap"></i> {% endcomment %}
        <span class="nav-text">Education</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/#competences">
        {% comment %} <i class="fa fa-graduation-cap"></i> {% endcomment %}
        <span class="nav-text">Competences</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/#projects">
        {% comment %} <i class="fa fa-tasks"></i> {% endcomment %}
        <span class="nav-text">Projects</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/#contact-me">
        {% comment %} <i class="fa fa-envelope"></i> {% endcomment %}
        <span class="nav-text">Contact Me</span>
    </a>
</li>
-->
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <ul class="nav justify-content-center flex-column flex-sm-row" id="tabs-text" role="tablist">
                <li class="nav-item">
                
                    <a class="nav-link nav-text mb-sm-4 px-4" href="/#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text mb-sm-3 px-4" href="/#competences">Competences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text mb-sm-3 px-4" href="/#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text mb-sm-3 px-4" href="/#contact-me">Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</div>