<div class="row mt-5">{% load filter_tags %}
    <div class="col-lg-12">
        <h1 class="display-4 mb-0" id="projects">
            <i class="ni ni-bullet-list-67"></i> 
            Projects
        </h1>
        <small>To see all of my projects click on "<span class="font-weight-bold text-info">Show All Projects</span>" on the bottom.</small>
        <div class="row justify-content-center mt-2">
            <div class="col-lg-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for project in projects %}
                            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %} mb-4">
                                <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <a href="{{project.get_project_absolute_url}}">
                                        <img class="d-block w-100" src="{{project.image.url}}" alt="{{project.title}} (img)">
                                    </a>
                                </div>
                                <div class="col-lg-4 pt-5 text-left">
                                    <a href="{{project.get_project_absolute_url}}">
                                        <h3 class="">{{project.title}}</h3>
                                    </a>
                                    <p class="text-muted mb-0">{{project.description|truncatechars:180}}</p>
                                    <div class="m-0 mt-4">
                                        <span class="font-weight-bold color-primary"><i class="ni ni-settings pr-2"></i>Tools: </span>
                                        {% with project.tools|split:"," as tools %}
                                            {% for tool in tools %}
                                                <span class="tool">{{tool}}</span>
                                            {% endfor %}
                                        {% endwith %}
                                    </div>
                                    
                                        
                                    
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <i class="fas fa-angle-left fa-3x color-primary"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <i class="fas fa-angle-right fa-3x color-primary"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="text-center bg-secondary">
                    <a href="{% url 'projectsPage' %}" class="more-btn text-capitalize">Show All Projects</a>
                </div>
                
            </div>
        </div>
    </div>
</div>