{% extends 'dashboard.html' %}

{% load static %}

{% block dashboardContent %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="dashboard-title">Projects</div>
            <small>Manage your projects</small>
        </div>
        
        <div class="col-6">
            <div class="create-one" id="display-create-form">
                Create One
            </div>
        </div>
    </div>
    <hr class="mt-2">


    <div class="create-project-form hide">
        <form>
            <div class="form-group">
                <lable>Title</lable>
                <input type="text" class="form-control" id="form-title" placeholder="Project title">
            </div>
            <div class="form-group">
                <lable>Description</lable>
                <textarea class="form-control" id="form-description" rows="10" placeholder="Project description"></textarea>
            </div>
            <div class="form-group">
                <lable>Image</lable>
                <input type="file" class="form-control" id="form-image">
            </div>
            <div class="form-group">
                <lable>Tools</lable>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-cog"></i></i></span>
                    </div>
                    <input type="text" class="form-control" id="form-tools" placeholder="Project building tools">
                </div>
            </div>

            <div class="form-group">
                <lable>Demo</lable>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-globe"></i></span>
                    </div>
                    <input type="text" class="form-control" id="form-demo" placeholder="Project web site">
                </div>
            </div>

            <div class="form-group">
                <lable>Github</lable>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fab fa-github"></i></span>
                    </div>
                    <input type="text" class="form-control" id="form-github" placeholder="Github repository">
                </div>
            </div>

            <lable>Home Display</lable>
            <div class="form-group">
                <label class="custom-toggle">
                    <input type="checkbox" id="form-show_in_slider">
                    <span class="custom-toggle-slider rounded-circle"></span>
                </label>
            </div>
        </form>
        <div class="modal-footer">
            <a>Close</a>
            <a id="creat-project-btn">
                <svg class="save-project" viewBox="0 0 20 20">
                    <path fill="none" d="M7.197,16.963H7.195c-0.204,0-0.399-0.083-0.544-0.227l-6.039-6.082c-0.3-0.302-0.297-0.788,0.003-1.087
                    C0.919,9.266,1.404,9.269,1.702,9.57l5.495,5.536L18.221,4.083c0.301-0.301,0.787-0.301,1.087,0c0.301,0.3,0.301,0.787,0,1.087
                    L7.741,16.738C7.596,16.882,7.401,16.963,7.197,16.963z"></path>
                </svg>
            </a>
        </div>

    </div>

    {% with projects|first as project %}
        <div class="row">
            <div class="col-12 one-project">
                <div class="content">
                    <img src="{{project.image.url}}">
                    <div class="">
                        <h3>{{project.title|truncatechars:30}}</h3>
                        <p>{{project.description|safe|truncatechars:140}}</p>
                        <a href="{{project.get_project_absolute_url}}">
                            <div class="link">
                                Show the project
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
    <div class="row">
        {% comment %} <div class="ml-3 mt-4 h5">Projects</div> {% endcomment %}
        <div class="col-12 dashboard-projects-list">
            {% for project in projects %}
                <div class="row item">
                    <div class="col-8 item-name">
                        {{project.title|truncatechars:40}}
                    </div>
                    <div class="col-4 text-right">
                        <a href="{{project.get_project_absolute_url}}" target="_blank">
                            <svg class="svg-icon-view" viewBox="0 0 20 20">
							    <path d="M10,6.978c-1.666,0-3.022,1.356-3.022,3.022S8.334,13.022,10,13.022s3.022-1.356,3.022-3.022S11.666,6.978,10,6.978M10,12.267c-1.25,0-2.267-1.017-2.267-2.267c0-1.25,1.016-2.267,2.267-2.267c1.251,0,2.267,1.016,2.267,2.267C12.267,11.25,11.251,12.267,10,12.267 M18.391,9.733l-1.624-1.639C14.966,6.279,12.563,5.278,10,5.278S5.034,6.279,3.234,8.094L1.609,9.733c-0.146,0.147-0.146,0.386,0,0.533l1.625,1.639c1.8,1.815,4.203,2.816,6.766,2.816s4.966-1.001,6.767-2.816l1.624-1.639C18.536,10.119,18.536,9.881,18.391,9.733 M16.229,11.373c-1.656,1.672-3.868,2.594-6.229,2.594s-4.573-0.922-6.23-2.594L2.41,10l1.36-1.374C5.427,6.955,7.639,6.033,10,6.033s4.573,0.922,6.229,2.593L17.59,10L16.229,11.373z"></path>
						    </svg>
                        </a>
                        <svg class="svg-icon-edit" viewBox="0 0 20 20" id="{{project.id}}">
                            <path fill="none" d="M19.404,6.65l-5.998-5.996c-0.292-0.292-0.765-0.292-1.056,0l-2.22,2.22l-8.311,8.313l-0.003,0.001v0.003l-0.161,0.161c-0.114,0.112-0.187,0.258-0.21,0.417l-1.059,7.051c-0.035,0.233,0.044,0.47,0.21,0.639c0.143,0.14,0.333,0.219,0.528,0.219c0.038,0,0.073-0.003,0.111-0.009l7.054-1.055c0.158-0.025,0.306-0.098,0.417-0.211l8.478-8.476l2.22-2.22C19.695,7.414,19.695,6.941,19.404,6.65z M8.341,16.656l-0.989-0.99l7.258-7.258l0.989,0.99L8.341,16.656z M2.332,15.919l0.411-2.748l4.143,4.143l-2.748,0.41L2.332,15.919z M13.554,7.351L6.296,14.61l-0.849-0.848l7.259-7.258l0.423,0.424L13.554,7.351zM10.658,4.457l0.992,0.99l-7.259,7.258L3.4,11.715L10.658,4.457z M16.656,8.342l-1.517-1.517V6.823h-0.003l-0.951-0.951l-2.471-2.471l1.164-1.164l4.942,4.94L16.656,8.342z"></path>
                        </svg>
                        <svg class="svg-icon-delete" viewBox="0 0 20 20" id="{{project.id}}">
                            <path d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"></path>
                        </svg>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
</div>

{% endblock dashboardContent %}