{% extends 'dashboard.html' %}

{% load static %}

{% block dashboardContent %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="dashboard-title">Education</div>
            <small>Manage your education</small>
        </div>
        
        <div class="col-6">
            <div class="create-one" id="display-create-form">
                Create One
            </div>
        </div>
    </div>
    <hr class="mt-2">


    <div class="create-project-form hide">
        <form>
            <div class="form-group">
                <lable>Title</lable>
                <input type="text" class="form-control" id="form-title" placeholder="Education title">
            </div>
            <div class="form-group">
                <lable>Description</lable>
                <textarea class="form-control" id="form-description" rows="10" placeholder="Education description"></textarea>
            </div>
            <div class="form-group">
                <lable>Date</lable>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="uil uil-calendar-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" id="form-date" placeholder="Education year">
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <a class="submit-project" id="creat-project-btn">
                <img src="{% static 'img/save-icon.svg' %}" width='25px'>
                Save
            </a>
            <a class="submit-project" id="submit-update-project">
                <img src="{% static 'img/edit-icon.svg' %}" width='25px'>
                Update
            </a>

            <a class="cancel-edit-project" id="display-create-form">
                <img src="{% static 'img/close-icon.svg' %}" width='25px'>
                Close
            </a>
        </div>

    </div>

    <div class="row">
        {% comment %} <div class="ml-3 mt-4 h5">Projects</div> {% endcomment %}
        <div class="col-12 dashboard-projects-list">
            {% for edu in education %}
                <div class="row item">
                    <div class="col-3 item-name">
                        {{edu.title|truncatechars:15}}
                    </div>
                    <div class="col-6  text-muted text-left">
                        {{edu.description|truncatechars:38}}
                    </div>
                    <div class="col-3 text-right">
                        <i class="uil uil-edit-alt icon-edit"></i>
                        <i class="uil uil-trash-alt icon-delete"></i>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
</div>

{% endblock dashboardContent %}