{% extends 'dashboard.html' %}

{% load static %}

{% block dashboardContent %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 inbox">
            <i class="fas fa-inbox"></i>
            Inbox 
        </div>
        <div class="col-lg-6 search">
            <div class="form-group">
                <div class="input-group mb-4">
                    <input class="form-control" id="search-input" placeholder="Search for messages" type="text">
                    <div class="search-btn" id="search-btn">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-0">

    {% for message in messages %}
        <div class="row message-item {% if not message.is_read %}new-message{% endif %}" id="row-{{message.id}}">
            <div class="col-1 message-icons">
                <div class="delete-message" id="message-{{message.id}}">
                    <img src="{% static 'img/trash-icon.svg' %}" width='25px'>
                </div>
            </div>
            <div class="col-9 view-message" id="view-{{message.id}}" data-toggle="modal" data-target=".modal-{{message.id}}">
                <div class="row">
                    <div class="col-3 sender text-capitalize">
                        {{message.name}}
                    </div>
                    <div class="col-9 message">
                        {{message.message|truncatechars:60}}
                    </div>
                </div>
            </div>
            <div class="col-2 time">
                {{message.send_time|date:"D, d M, Y"}}
            </div>
        </div>

        <div class="modal fade modal-{{message.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="message-modal">
                    <div class="modal-head text-capitalize">
                        {{message.name}}
                    </div>
                    <div class="modal-body">
                        {{message.message}}
                        <p><i class="fas fa-envelope"></i> {{message.email}}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center mt-3 mb-0">
            <li class="page-item {% if not messages.has_previous %}disabled{% endif %}">
                <a class="page-link pagination-move" href="{% if messages.has_previous %}?page={{ messages.previous_page_number }}{% endif %}" tabindex="-1">
                    <i class="fa fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

                <li class="page-item pagination-number {% if not messages.has_previous %}disabled{% endif %}">
                    <a class="page-link" href="{% if messages.has_previous %}?page={{ messages.previous_page_number }}{% endif %}">{{messages.number|add:-1}}</a>
                </li>
                <li class="page-item pagination-active">
                    <a class="page-link" href="?page={{ messages.number }}">{{messages.number}}</a>
                </li>
                <li class="page-item pagination-number {% if not messages.has_next %}disabled{% endif %}">
                    <a class="page-link" href="{% if messages.has_next %}?page={{ messages.next_page_number }}{% endif %}">{{messages.number|add:1}}</a>
                </li>

            <li class="page-item {% if not messages.has_next %}disabled{% endif %}">
                <a class="page-link pagination-move" href="{% if messages.has_next %}?page={{ messages.next_page_number }}{% endif %}">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    
</div>

{% endblock dashboardContent %}